.header_button {
	font-weight: bold;
}

svg#isNotSupervisor {
	fill: white !important;
}

svg#isNotSupervisor:hover {
	cursor: pointer;
}

svg#isSupervisor {
	fill: #17a2b8 !important;
	cursor: pointer;
}
