tr.code_error {
	background-color: #610B21 !important;
}
tr.code_error:hover {
	background-color: #DD0000 !important;
}

tr.code_warning {
	background-color: #656500 !important;
}
tr.code_warning:hover {
	background-color: #989800 !important;
}
